.app {
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    background-color: #f7f7f7;
    padding: 20px;
    border-right: 1px solid #ddd;
    overflow-y: auto;

    .draggable_table {
        padding: 10px;
        margin-bottom: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: grab;

        &:hover {
            background-color: #f0f0f0;
        }
    }

}

.grid {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 10px;
    position: relative;
    width: 75%;
    height: 100vh;
    padding: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.sideTable {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .dropDown {
        // border: 1px solid black;
        margin-right: 10px;
        cursor: pointer;
        // padding: 0px 2px;
    }

    .sideColumn {
        margin-left: 50px;
    }

}

.grid_table {
    // width: 100%;
    // height: 150px;
    // border: 2px dashed #ccc;
    // padding: 20px;
    background-color: #f4f4f4;
    // margin: 10px;
    transition: background-color 0.3s;
    // background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    // padding: 10px;
    cursor: move;
}

.resizable_box {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid_table_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.grid_table_header {
    font-weight: bold;
    text-align: center;
    background-color: #e7e7e7;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    // border-radius: 5px 5px 0 0;
}

.grid_table_column {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f1f1f1;
    }
}